@{

    ViewBag.Title = "Contact";
}
<div style="padding-left: 60px">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    </div>
    <p>
        <div style="padding-left: 60px">
            <h3>About</h3>
        </div>
        <div style="padding:20px; margin-left:40px">


            Welcome toAbout MonaLisa Beauty - Day Spa & Skincare Clinic! We offer services and treatments of the highest quality. A visit to our Salon is a guarantee of experiencing the latest developments in cosmetology in a relaxing and luxurious atmosphere.
            Our beauty & wellness mission
            Providing the very best of care to our clients is the key to our success and our main focus - so we will do our utmost to provide you with
            a unique, bespoke experience during your visit. Prepare to be amazed at the results!
            We also guarantee that our equipment and treatments reflect the latest, worldwide technologies, while the cosmetics we use are certified to
            the highest quality.

            We work with world leading cosmetic brands who are constantly adopting and developing their products and treatments formulae to ensure they
            provide only the optimum results.
        </div>

        <div style="padding:20px; margin-left:40px">
            <img src="@Url.Content("~/Content/themes/images/salon2.png")" width="450" height="400" style="column-fill:balance" alt="Blonde" /> <img src="@Url.Content("~/Content/themes/images/salon1.png")" width="450" height="400" style="margin-left: 100px" alt="Blonde" />

        </div>

    </p>

