@{
    ViewBag.Title = "Contact";
}
<div style="padding-left: 60px">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        <div style="padding:10px; margin-right:40px">
            <img src="@Url.Content("~/Content/themes/images/map.png")" width="700" height="500" style="float:right" alt="map" />
        </div>

        Main Street Clonee<br />
        Dublin 15, Co.Dublin<br />
        <abbr title="Phone">P:</abbr>
        01569666666
    </address>
    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@monalisa.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@monalisa.com</a>
    </address>

    <b>
        <h3>Opening Hours</h3>

        <p>Tuesday	    10a.m.–6p.m.</p>
        <p>Wednesday   10a.m.–6p.m.</p>
        <p>Thursday	10a.m.–6p.m.</p>
        <p>Friday	    10a.m.–6p.m.</p>
        <p>Saturday	10a.m.–6p.m.</p>
        <p>Sunday	Closed</p>
        <p>Monday	Closed</p>
    </b>
</div>
<div style="margin-top:180px; margin-left:380px">
    <p><a class="btn btn-default" href="https://goo.gl/maps/soY55gDgvt46rxrH9">Get Directions &raquo;</a></p>
</div>